/******************************************/
/*=========     MEDIA-QUERIES    =========*/
/******************************************/

// version SM


@media (max-width:1000px) {

	#info p {
		font-size: 15px;
	}

	#info p br {
		display:none;
	}

	.logo-footer {
		margin: auto;
		display: block;
	}

	#social h2 {
		text-align: center !important;
	}

	#social a {
		text-align: center !important;
	}

	#social .arrow {
		display: none !important;
	}

}
@media (max-width:768px) {

	/*IMAGES BANNERS FOR MOBILE */
	.banner-cowork {
		content: url("../images/carrusel/oficina-cowork-mob.jpg");
	}
	.banner-tv {
		content: url("../images/carrusel/sala-tv-mob.jpg");
	}
	.banner-privada {
		content: url("../images/carrusel/oficina-privada-mob.jpg");
	}
	.banner-escritorios {
		content: url("../images/carrusel/escritorios-mob.jpg");
	}
	.banner-sala {
		content: url("../images/carrusel/sala-reunion-mob.jpg");
	}


	.nav {
		background-color:white !important;
		padding:0 !important;
		margin-top:0 !important;
	}

	.main-text img {
		width: 85px !important;
	}
	.main-text h1, .main-text p, .main-text a{
		font-size: 20px !important;
	}

	#info p {
		font-size: 15px;
		text-align:center;
		margin-top:0;
	}

	.fraseBorrar {
		display:none;
	}
	.container-escritorios {
		display:none;
	}

	#servicios .caja {
		height: 140px;
	}

	#servicios .caja p {
		display: none;
	}

	.footer h2{
		font-size:12px !important;

	}




}

@media (max-width:530px) {

	.main-text img {
		display:none;
	}

	.main-text h1, .main-text p, .main-text a{
		font-size: 15px !important;
		margin-top:0;
	}

	#info div {
		margin-bottom:75px !important;
	}

	#info div h2 {
		font-size:30px !important;
	}

	#planes {
		margin-top:150px !important;
	}


	#planes div {
		margin-top:50px !important;
	}

}

@media (max-width:425px) {

.main-text  {
	margin-top:-40px !important;
}

.main-text h1{
	font-size:15px !important;
}

.main-text p{
	font-size:15px !important;
	margin-bottom:15px;
}
.main-text a {
	font-size: 14px !important;
	border:1px solid;
	margin-top:-10px;
}



.subtitulo {
 font-size:20px !important;
}

.box p {
	font-size:24px !important;
}

.box li {
	font-size:14px !important;
}

}
