/******************************************/
/*=========     MEDIA-QUERIES    =========*/
/******************************************/

// version SM


@media (max-width:1000px) {

}

@media (max-width:768px) {


	.main-text img {
		width: 60px !important;
	}
	.main-text h1, .main-text p, .main-text a{
		font-size: 12px !important;
	}

	.container-escritorios {
		visibility: hidden;
	}
	#servicios .caja {
		height: 140px;
	}

	#servicios .caja p {
		visibility: hidden;
	}


	.logo-footer {
		margin: auto;
		display: block;
	}
	#social h2 {
		text-align: center !important;
	}
	#social a {
		text-align: center !important;
	}


	#social .arrow {
		visibility: hidden;
	}

}

@media (max-width:400px) {
}
