// Fonts
$main-font: 'Roboto Slab';
$second-font: 'Kaushan Script';
$third-font: 'Montserrat';
$fourth-font: 'Droid Serif';

// Colors
$main-color: #ffb600;
$comp-color: #ffffff;
$third-color: #f1f1f1;
$font-color: #555555;

$facebook-color: #3b5998;
$twitter-color: #55acee;
$pinterest-color: #bd081c;
